  <IfModule mod_env.c>
   Header onsuccess unset Access-Control-Allow-Origin
   Header always set Access-Control-Allow-Origin "*"   

   Header onsuccess unset Content-Disposition
   Header always set Content-Disposition "inline"   
   
   SetEnv modHeadersAvailable true
  </IfModule>




RewriteEngine On

#ErrorDocument 404 %{DOCUMENT_ROOT}/404.php
 
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
 
RewriteRule ^(.*)$ cdn.php [L]
 