 
RewriteEngine On


RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RedirectMatch 403 ^/?\.(?!well-known/acme-challenge/[\w-]{43}$)


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ index.php [NC,L,QSA]
 
 
