 
RewriteEngine On
 
# FallbackResource /index.php
FallbackResource index.php

ErrorDocument 403 index.php
ErrorDocument 404 index.php
ErrorDocument 500 index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [PT,E=PATH_INFO:$1]
