<IfModule mod_rewrite.c>
RewriteEngine On



RedirectMatch 403 ^/?\.(?!well-known/acme-challenge/[\w-]{43}$)

RewriteCond %{HTTP:Authorization} ^(.*)
RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ webfat.php [NC,L,QSA]
</IfModule>
